# MLflow Tracking Configuration (DagsHub)
MLFLOW_TRACKING_URI=https://dagshub.com/<username>/<repo>.mlflow
MLFLOW_TRACKING_USERNAME=<username>
MLFLOW_TRACKING_PASSWORD=<token>

# Experiment Configuration
MLFLOW_EXPERIMENT_NAME=Attrition_Prediction_Experiment
MLFLOW_RUN_NAME=XGBoost_Run
MLFLOW_REGISTERED_MODEL_NAME=attrition_model
MODEL_SOURCE=auto
MLFLOW_MODEL_NAME=attrition_model
MLFLOW_MODEL_VERSION=2
